.nav {
    background: deeppink;
    width: 100%;
    height: 8vh;
    color: #FFF;
    vertical-align: center;
}

#title_logo {
    font-weight: 600;
    padding: 2vh;
    font-size: 4vh;
    line-height: 3vh;
}

.charger{
    width: 25vw;
    height: 10vh;
    border: black 1px solid;
    margin: 3vh;
    border-radius: 5px;
    -webkit-box-shadow:2px -2px 10px #3b3b3b;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    vertical-align: center;
}

.status-led {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: gray;
    border: 1px gray solid;
    position: relative;
    left: 3vw;
    top: 3.4vh;
    display: inline-block;
    float: left;
}

.id{
    font-size: small;
    display: block;
    line-height: 200%;
}

.red-led {
    border: 3px #FF113b solid;
    -webkit-box-shadow:2px -2px 10px #FF113b;
}

.green-led {
    border: 3px #44FF3b solid;
    -webkit-box-shadow: 2px -2px 10px #44FF3b;
}

.labels {
    display: block;
    margin: auto;
    height: 100%;
    position: relative;
}

#qrcode {
    position: relative;
}

.main {
    float: left;
}